h1 Create new user
form(action="/user/create", method="post") 
    label(for="") name  
    input(type="text", name="name")
    label(for="") mssv 
    input(type="text", name="mssv")
    button(type="submit") create